<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Weight Tracking App</title>
    <link href="../style.css" rel="stylesheet" type="text/css">
</head>

<body>
	<h1>Welcome to Weight Tracker</h1>
    <h2>Applicant</h2>
    <ul>
        <li>To input a weight select <a href="/input">Input</a></li>
        <li>To review/update a weight select <a href="/review">Review Weights</a></li>
    </ul>
    <hr>

    <h2>Admin</h2>
    <ul>
        <li>To select weights based on name and timeframe <a href="/time">Get Timeline</a></li>
        <li>To remove all weights <a href="/removeAll">Remove All Weights</a></li>
    </ul>
	<hr>
</body>

</html>