<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8"/>
	<title>Weight Tracking Timeline</title>
    <link href="../style.css" rel="stylesheet" type="text/css">
    <script src="plotly-2.16.1.min.js"></script>
</head>

<body>
	<h1>Display Weights for <%- name %> within Timeline</h1>
    <br>
    <%- data %>
    <a href="/">HOME</a>
</body>


</html>