<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8"/>
	<title>Weights Remove All</title>
    <link href="../style.css" rel="stylesheet" type="text/css">
</head>

<body>
	<h1>Removal of All Weights</h1>
    
    All inputted weights have been removed from the database. Number of weights removed: <%- data %>

    <br>
    <a href="/">HOME</a>
</body>

</html>