<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8"/>
	<title>Weight Remove All</title>
    <link href="../style.css" rel="stylesheet" type="text/css">
</head>

<body>
	<h1>Removing All Weights</h1>
    <form action=<%- portNum %> method="post" onsubmit="return confirm('Are you sure you want to remove all weights?');">
        <input type="submit" name="submit" id="submit" value="Remove all DataBase Entries">
    </form>

    <hr>
    <a href="/">HOME</a>
</body>

</html>