<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8"/>
	<title>Review all Inputs for Name</title>
    <link href="../style.css" rel="stylesheet" type="text/css">
</head>

<body>
	<h1>Review Weights</h1>
    <form action=<%- portNum %> method="post">
        <fieldset>
            <label for="name"><strong>Name: </strong></label>
            <input type="text" name="name" id="name"><br><br>
        </fieldset>

        <input type="reset" name="reset" id="reset" value="Reset">
        <input type="submit" name="submit" id="submit" value="Submit Request">
    </form>

    <hr>
    <a href="/">HOME</a>
</body>

</html>